<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <!--<add key="MDMSVCUrl" value="http://dev-app-mwcf.travelogixx.net:9001/Consumer.svc" />-->
    <add key="MDMSVCUrl" value="http://localhost:57643/Consumer.svc/" />
    <add key="TimerInterval" value="60000" />
    <add key="PollInterval" value="60000" />
    <!--Kafka Data Insert -->
    <add key="Kafka_Insert" value="/InsertKafka/Info" />
    <!--Kafka Data Update -->
    <add key="Kafka_Update" value="/UpdateKafka/Info" />
    <add key="FilePath" value="D:\UPLOAD\Kafka.txt" />
    <!--Get poll data Values-->
    <add key="Kafka_Select" value="/SelectKafka/Info/{0}" />
    <!--Get master Attributes-->
    <add key="GetMasterAttributes" value="/Master/MasterAttributes/GetAll" />
    <!--IList<DC_M_masterattribute>  DC_M_masterattribute-->
    <!--Get master Attributes Values-->
    <add key="GetAllAttributeValuesByMasterId" value="/Master/MasterAttributes/GetAttributeValuesById/{0}/{1}/{2}" />
    <!--/{MasterAttribute_Id}/{PageSize}/{PageNo}-->
    <!--Get poll data Values-->
    <add key="GetPoll_Data" value="/GetPoll/Info" />
    <add key="GetPoll_DataCount" value="/GetPoll/GetPollDataCount" />
    <!--Insert Hotel data-->
    <add key="Accomodation_AddInfoURI" value="/AddAccomodation/Info" />
    <!--Update Hotel data-->
    <add key="Accomodation_UpdateURI" value="/UpdateAccomodation/Info" />
    <!--Search Hotel data-->
    <add key="Accomodation_SearchURI" value="/Accomodation/Search" />
    <!--Search Hotel Company Version data-->
    <add key="AccomodationCompanyVersion_SearchURI" value="/GetAccomodationCompanyVersionInfo/Info/{0}" />
    <!-- Accommodation Facilities -->
    <add key="Accomodation_AddFacilitiesURI" value="/AddAccomodation/Facilities" />
    <add key="Accomodation_DeleteFacilitiesURI" value="/Hotel/DeleteHotelsFacilitiesInTable" />
    <!-- Accommodation Contacts -->
    <add key="Accomodation_AddContactsURI" value="/AddLstAccomodation/Contacts" />
    <add key="Accomodation_DeleteContactURI" value="/Hotel/DeleteHotelsContactInTable" />
    <!-- Accommodation Descriptions -->
    <add key="Accomodation_DeleteDescriptionURI" value="/Hotel/DeleteHotelsDescInTable" />
    <add key="Accomodation_AddDescriptionURI" value="/AddAccomodation/Descriptions" />
    <add key="Accomodation_AddLstDescriptionURI" value="/AddLstAccomodation/Descriptions" />
    <!-- Accommodation Status -->
    <add key="Accomodation_AddStatusURI" value="/AddAccomodation/Status" />
    <add key="Accomodation_DeleteStatusURI" value="/Hotel/DeleteHotelsStatusInTable" />
    <!--Room data-->
    <add key="Accomodation_RoomSearch" value="/GetAccomodation/RoomInfobyId/{0}/{1}" />
    <add key="Accomodation_AddRoomURI" value="/AddAccomodation/RoomInfo" />
    <add key="Accomodation_UpdateRoomURI" value="/UpdateAccomodation/RoomInfo" />
    <add key="Accommodation_DeleteRoomFacilities_ByAccoRoomId" value="/DeleteAccomodation/RoomFacilities/ByAccoRoomId/{0}" />
    <add key="Accommodation_AddRoomFacilities" value="/AddAccomodation/RoomFacilities" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="ConsumerEntities" connectionString="metadata=res://*/ConsumerModel.csdl|res://*/ConsumerModel.ssdl|res://*/ConsumerModel.msl;provider=System.Data.SqlClient;provider connection string='Data Source=DEV-DB-MMSSQL.TRAVELOGIXX.NET,21443;Initial Catalog=TLGX_MAPPING;User ID=sqldata;Password=V4m4nC3n7r36f!00r^c4b1n2;MultipleActiveResultSets=True;connect timeout=180;application name=EntityFramework'" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>